<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project-WDF/public/css/main.css">
    {{!-- I don't know if i should have the project-WDF there, doesn't say so in the instructions --}}
    <title>Yuli and Huma's Library</title>
</head>
<body>
    {{{ body }}}
</body>
</html>