
<h1>About</h1>
<p>We are a small library indie firm, created by two passionate students;
    <br>
    Yuli & Huma
    <br>
    We believe that it is very important for students to access their course material, and people to read their dream books.
</p>
<p>We have created this digital library with the vision of providing information to all, and to let all come to us with a helpful mindset and welcoming arms</p>