
    <br>
<h1>Searching for a book? Let's Explore together</h1>


<div id="books"></div>
<h1>Books</h1>
<div>
    <ul>
        {{#each books}} 
        <li>  {{Title}} 
          <img src="{{img}}" alt="{{img}}" class="smallimage"/>
           </li>
        {{/each}}
       
     
    </ul>
</div>
</div>