
</body>
<div class="contact">
 <div class="contactus">
   <h1>Contact Us</h1>
      <h6>We’d love to hear from you!
        Whether you have a question about our collection, need help finding a book, or want to learn more about our events and services, our team is here to assist you.</h6>
 </div>
 
 <div class="contactcontent">
 <div class="touch">
<h1>Get In Touch</h1>
<p> <b>Phone:</b> + 0707007070</p>
<p><b>Email:</b> inf0@yulihumalibrary.com</p> <br>
<p><b>Yuli:</b> yuli24of@student.ju.se</p>
<p><b>Huma:</b> huma24ey@student.ju.se</p>
</div>
<div class="hours">
<h1>Opening Hours</h1>
<p><b>Monday – Friday:</b> 9:00 AM – 7:00 PM <br>
<b>Saturday:</b> 10:00 AM – 5:00 PM <br>
<b>Sunday: </b>Closed</p>
</div>

<div class="visit">
<h1>Visit Us</h1>
<p><b>Address: </b>123 Library Street,<br> Jönköping, Sweden</p>
</div>

<div class="follow">
<h1>Follow Us</h1>
<p><b>Facebook:</b> @yulihumalibrary <br>
<b>Instagram:</b> @yulihuma_official <br>
<b>Twitter:</b> @yulihumalibrary</p>
</div>
</div>
</div>
</body>