<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="">Books</a></li>
            <li><a href="">Avout</a></li>
            <li><a href=""></a>Contact</li>
        </ul>
    </nav>
    <div>
        <h1>Welcome to our Library!</h1>
        <div>
            We are Yuli and Huma, a digital university library based in Sweden
            <br />
            This site helps students find their course books, and let's them read the course books as e-books. 
        </div>
    </div>
</body>
</html>