
<body>
    <nav>
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="/books">Books</a></li>
            <li><a href="">About</a></li>
            <li><a href=""></a>Contact</li>
        </ul>
    </nav>
    <div>
        <h1>Welcome to our Library!</h1>
        <div>
            We are Yuli and Huma, a digital university library based in Sweden
            <br />
            This site helps students find their course books, and let's them read the course books as e-books. 
        </div>
    </div>
</body>
