
<head> <link rel="stylesheet" href="/css/main.css"></head>


<div class="library_img">
  <img src="/img/library_home.jpg" alt="Library">
  <div class="banner_text">Welcome to our Library!</div>
</div>

<div class="home">
    <div class="introduction">
        We are Yuli and Huma, a digital university library based in Sweden
        <br />
        This site helps students find their course books, and let's them read the course books as e-books. 
    </div>
</div>

