

<main>
    <h1>Log In</h1>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="un" placeholder="Enter your username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="pw" placeholder="Enter your password">

        <input type="submit" value="Login">
    </form>
</main>
